[Desktop Entry]
Type=Application
Name=Omapresent
GenericName=Markdown Writer
Comment=Dead-simple Markdown writing app
Exec=omapresent %f
Icon=omapresent
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupWMClass=omapresent
